.quiz_form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
}



.quiz-form-title-container {
    display: flex;
    flex-direction: row;
}


.quiz-form-title {
    color: white;
    margin-top: 20px;
    margin-right: 20px;
}


.quiz-form-title-input {
    height: 20px;
    width: 200px;
    margin-top: 20px;
}

.test-type-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.test-type-select {
    background: white;
    width: 268px;
    padding: 5px;
    font-size: 20px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    margin-left: 20px;
}



.test_type {
    font-size: 20px;
    margin-right: 63px;
}

.input_type {
    font-size: 20px;
}

.input-type-select {
    background: white;
    width: 268px;
    padding: 5px;
    font-size: 20px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    margin-left: 10px;
    margin-top: 20px;
}



.backarrow-container{
    display: block;
    position: fixed;
    top: 150px;
    left: 1em;
    z-index: 1;
}

.form-back-arrow {
    -moz-box-shadow:inset 0px 0px 3px 0px #276873;
	-webkit-box-shadow:inset 0px 0px 3px 0px #276873;
	box-shadow:inset 0px 0px 3px 0px #276873;
	background-color:#599bb3;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:22px;
    text-decoration:none;
    text-align: center;
    width: 30px;
    margin: 0px;
}


.test-type-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.quizmaker-input-box {
    height: 20px;
    width: 20px;
}

.quiztaker-input-box {
    height: 20px;
    width: 20px;
}

.email-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
}


.who-to-mail-title {
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

.email-options-container {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    margin-left: 200px;
}


.email-option1 {
    display:flex;
}


.email-option2{
    display:flex;
}

.quiz-card {
    position: absolute;
    top: 100px;
    left: 10%;
    height: 80%;
    width: 75%;
    background: white;
    border-radius: 3px;
    transition: ease-in 1000ms;
}

.quiz-type-title {
     color: #599bb3;
}


.quiz-card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-question-button{
    font-size: 30px;
    height: 60px;
    width: 150px;
    border-radius: 3px;
}

.add-question-button p {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.add-question-button:hover {
    cursor: pointer;
    background-color: rgb(151, 151, 151);
    color: white;
}





.create-quiz-button {
    position: absolute;
    right: 50px;
    bottom: 50px;
    -moz-box-shadow:inset 0px 0px 3px 0px #276873;
	-webkit-box-shadow:inset 0px 0px 3px 0px #276873;
	box-shadow:inset 0px 0px 3px 0px #276873;
	background-color:#599bb3;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:16px;
	padding:10px;
    text-decoration:none;
    width: 130px;
    text-align: center;
}


.create-quiz-button:hover {
    cursor: pointer;
    background-color: #408c99;
}