.quiz_form_container {
    display: flex;
    flex-direction: column;
    align-items: initial;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
}


.test-type-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.test-type-select {
    background: white;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    margin-left: 62px;
}



.test_type {
    font-size: 26px;
    margin-right: 63px;
}

.input_type {
    font-size: 26px;
}

.input-type-select {
    background: white;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    margin-left: 10px;
}



.backarrow-container{
    display: block;
    position: absolute;
    top: 50;
    left: 1em;
    z-index: 1;
}

.form-back-arrow {
    -moz-box-shadow:inset 0px 0px 3px 0px #276873;
	-webkit-box-shadow:inset 0px 0px 3px 0px #276873;
	box-shadow:inset 0px 0px 3px 0px #276873;
	background-color:#599bb3;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:22px;
    text-decoration:none;
    text-align: center;
    width: 30px;
    margin: 0px;
}


.test-type-container {
    display: flex;
    flex-direction: row;

}


.quizmaker-input-box {
    height: 20px;
    width: 20px;
}

.quiztaker-input-box {
    height: 20px;
    width: 20px;
}

.email-section {
    display: flex;
    flex-direction: column;
}


.who-to-mail-title {
    color: white;
    font-size: 26px;
    margin-left: 20px;
}

.email-options-container {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 18px;
    margin-left: 200px;
}


.email-option1 {
    display:flex;
}


.email-option2{
    display:flex;
}

.quiz-card {
    position: absolute;
    top: 220px;
    left: 10%;
    height: 60%;
    width: 75%;
    background: white;
    margin: 20px 40px;
    border-radius: 3px;
}

.quiz-type-title {
     color: #599bb3;
}




.add-question-button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 45%;
    font-size: 50px;
    height: 100px;
    width: 100px;
    border-radius: 3px;
}


.add-question-button:hover {
    cursor: pointer;
    background-color: rgb(151, 151, 151);
    color: #ffffff;
}





.create-quiz-button {
    position: absolute;
    right: 50px;
    bottom: 50px;
    -moz-box-shadow:inset 0px 0px 3px 0px #276873;
	-webkit-box-shadow:inset 0px 0px 3px 0px #276873;
	box-shadow:inset 0px 0px 3px 0px #276873;
	background-color:#599bb3;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:16px;
	padding:10px;
    text-decoration:none;
    width: 130px;
    text-align: center;
}


.create-quiz-button:hover {
    cursor: pointer;
    background-color: #408c99;
}