@import '../../globalVariable.scss';
.landing-container{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.landing-div{
    width: 100%;
    text-align: center;
    background-image: none;
    transition: background-color .3s;
    transition: color .3s;

    h2{
        margin-top: 10vh;
        font-size: 7vh;
    };
    ul{
        
    }
    

}
.right:hover, .left:hover{
    background-color: adjust-hue($color: $main-color, $degrees: 0);
    color: adjust-hue($color: white, $degrees: 0)
}
