.pin-form-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: black;
    border-width: 1px;
    background-color: rgb(224, 224, 224);
    margin-top: 80px;
    width: 570px;
    height: 550px;
}


.pin-logo {
    margin-top:10px;
    height: 200px;
    width: 200px;
    border-style: outset;
    border: none;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}


.pin-logo:hover {
    margin-top:10px;
    height: 200px;
    width: 200px;
    border-style: outset;
    border: none;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.9);
}



.pin-input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.pin-title {
   font-size: 24px;
}

.pin-input {
    height: 44px;
    width: 300px;
}


.pin-submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 40px;
    width: 100px;
    border: outset;
    background-color: rgb(73, 133, 245);
    font-family: Arial, Helvetica, sans-serifl;
    font-size: 18px;
    text-decoration: none;
    margin-top: 30px;
}


.pin-submit-btn:hover {
    cursor: pointer;
    background-color: rgb(8, 103, 245);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.9);
}
