.select-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}


// .select-input {
//     height: 50px;
//     width: 450px;
//     font-size: 18px;
// }


.find-btn {
    -moz-box-shadow:inset 0px 0px 3px 0px #276873;
	-webkit-box-shadow:inset 0px 0px 3px 0px #276873;
	box-shadow:inset 0px 0px 3px 0px #276873;
	background-color:#599bb3;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:19px;
	padding:32px 31px;
    text-decoration:none;
    width: 200px;
    text-align: center;
}


.create-btn{
    -moz-box-shadow:inset 0px 0px 3px 0px #276873;
	-webkit-box-shadow:inset 0px 0px 3px 0px #276873;
	box-shadow:inset 0px 0px 3px 0px #276873;
	background-color:#599bb3;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:19px;
	padding:32px 31px;
    text-decoration:none;
    width: 200px;
    text-align: center;
}


.find-btn:hover {
    cursor: pointer;
    background-color: #408c99;
}


.create-btn:hover {
    cursor: pointer;
    background-color: #408c99;
}