.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  text-align: center;
  background: #1a8ebc;
  color: white;
  font-size: 15px;
}

.logo-header {
  height: 125px;
}
