.logo-2 {
  height: 50px;
}


.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  text-align: center;
  background: #599bb3;
  color: white;
  font-size: 10px;
  height: 30px;
}

.logo-header {
  height: 85px;
}
