@import '../../globalVariable.scss';


.take-quiz-container{

    button{
        width: 150px;
        padding: 0;
        margin-top: 10px;
        box-sizing: content-box;
        border-radius: 3px;
        height: 30px;
        border: 1px $secondary-color solid;
        padding-left: 5px;
        transition: all .1s;
        font-weight: bold;
    };

    button:hover{
        background-color: $secondary-color;
        border: 1px black solid;
    }

    .submit-button{
        margin: auto;
    }
    .question-container{
        border: 1px black solid;
        border-radius: 5px;
        min-width: 70vw;
        background-color: whitesmoke;
        padding-left: 10px;
        padding-bottom: 15px;
        textarea{
            border: 1px black solid;
            border-radius: 5px;
            outline: none;
        }
    }
    .question{
        font-size: 1.5em;
    }
    .answers{
        margin-left: 20px;
    }
}