.search-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-page-title {
    margin-top: 20px;
    color: aliceblue;
    font-size: 30px;
}


.search-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}


.search-box input {
    width: 80vh;
    height: 57px;
}


.search-btn {
    -moz-box-shadow:inset 0px 0px 3px 0px #276873;
	-webkit-box-shadow:inset 0px 0px 3px 0px #276873;
	box-shadow:inset 0px 0px 3px 0px #276873;
	background-color:#599bb3;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:22px;
	padding:20px;
    text-decoration:none;
    text-align: center;
}

.search-btn:hover {
    cursor: pointer;
    background-color: #408c99;
}

.back-arrow {
    -moz-box-shadow:inset 0px 0px 3px 0px #276873;
	-webkit-box-shadow:inset 0px 0px 3px 0px #276873;
	box-shadow:inset 0px 0px 3px 0px #276873;
	background-color:#599bb3;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    border: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:22px;
    text-decoration:none;
    text-align: center;
    width: 30px;
    margin: 25px 0px 0px 25px;
}


.back-arrow:hover{
    cursor: pointer;
    background-color: #408c99;
}