.register-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color: black;
    border-width: 1px;
    background-color: rgb(224, 224, 224);
    margin-top: 80px;
    width: 570px;
    height: 550px;
    margin-left: 25%;
}





.register-logo{
    margin-top:10px;
    height: 200px;
    width: 200px;
    border-style: outset;
    border: none;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
}

.register-logo:hover {
    margin-top:10px;
    height: 200px;
    width: 200px;
    border-style: outset;
    border: none;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.9);
}




.username {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid;
    color: gray;
    border-width: 1px;
}

.username-icon{
    margin: 10px;
}



.password {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid;
    color: gray;
    border-width: 1px;
}


.password-icon {
    margin: 10px;
}


.email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid;
    color: gray;
    border-width: 1px;
}


.email-icon {
    margin: 10px;
}



.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username-input {
    height: 44px;
    width: 300px;
}


.password-input {
    height: 44px;
    width: 300px;
}


.email-input {
    height: 44px;
    width: 300px;
}







.register-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}


.register-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 40px;
    width: 100px;
    border: outset;
    background-color: rgb(73, 133, 245);
    font-family: Arial, Helvetica, sans-serifl;
    font-size: 18px;
    text-decoration: none;
}






.register-btn:hover {
    cursor: pointer;
    background-color: rgb(8, 103, 245);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.9);
}